#contentContainer {
    width: 550px;
    height: 350px;
    border: 1px black solid;
    overflow: hidden;
}

#wrapper {
    width: 2200px;
    transform: translate3d(0, 0, 0);
    transition: transform .5s ease-in-out;
}
.content {
    float: left;
    width: 550px;
    height: 350px;
    white-space: normal;
    background-repeat: no-repeat;   
}
#itemOne {
    background-color: rgba(0, 240, 150,1);
}
#itemTwo {
    background-color: #FF7F50;
}
#itemThree {
    background-color: #1E90FF;
}
#itemFour {
    background-color: #DC143C;
}

#navLinks {
    text-align: center;
    width: 550px;
}
    #navLinks ul {
        margin: 0px;
        padding: 0px;
        display: inline-block;
        margin-top: 6px;
    }
        #navLinks ul li {
            float: left;
            text-align: center;
            margin: 10px;
            list-style: none;
            cursor: pointer;
            background-color: #CCCCCC;
            padding: 5px;
            border-radius: 50%;
            border: black 2px solid;
        }
            #navLinks ul li:hover {
                background-color: #FFFF00;
            }
            #navLinks ul li.active {
                background-color: #333333;
                color: #FFFFFF;
                outline-width: 7px;
            }
                #navLinks ul li.active:hover {
                    background-color: #484848;
                    color: #FFFFFF;
                }

.center{
    margin: auto;
}

.mu-slider-small-title {
  font-family: "Tangerine", cursive;
  font-size: 70px;
  line-height: 30px;
  text-align: center;
}

.mu-slider-title {
  color: #fff;
  font-size: 70px;
  line-height: 30px;
  text-align: center;
}

p {
  color: #fff;
  font-size: 20px;
  text-align: center;
}